DATABASE_URL=mysql+pymysql://usuario:senha@localhost:3306/nome_do_banco
SECRET_KEY=sua_chave_secreta_aqui
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

S3_BUCKET_NAME=seu_bucket
S3_ENDPOINT_URL=https://seu-endpoint-s3-compatible
S3_ACCESS_KEY_ID=sua_access_key
S3_SECRET_ACCESS_KEY=sua_secret_key
S3_REGION=sa-east-1
S3_PUBLIC_BASE_URL=https://seu-dominio-publico/bucket