fastapi
uvicorn[standard]
sqlalchemy
alembic
pymysql
python-dotenv
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]==1.7.4
python-dotenv
psycopg2-binary
asyncpg
pydantic[email]
bcrypt==4.0.1